* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
  
:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
}
  
.app {
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    
}

.About{
    height: 100%;
    width: 300px;
    font-family: var(--font-roboto);
    background-image: url("./logo.png");
}

body {
    height: 100%;
    width: 100%;
    /* background-image: url("./logo.png");
     */
}