* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
  
:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
    color: #0a6a6a;
}
  
.app {
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    
}

.About{
    height: 100%;
    width: 300px;
    font-family: var(--font-roboto);
    background: black;
    color: #0a6a6a;
}

body {
    height: 100%;
    width: 100%;
    /*background-image: url("./logo.png");*/

}

.h2 heading-2 {
    font-weight: 600;
    font-size: 20px
}

.h3 heading-3 {
    font-weight: 600;
    font-size: 20px;
    color: #0a6a6a;
}